{% if page.video %}
  {% capture play-once %}{{page.play-once}}{% endcapture %}
  {% capture video_pause %}{{page.video_pause}}{% endcapture %}
  {% capture poster %}/assets/images/{{page.video}}.jpg{% endcapture %}
  {% if page.poster %}
    {% capture poster %}{{page.poster | prepend: "/assets/images/" | prepend: site.baseurl}}{% endcapture %}
  {% endif %}
  <video autoplay loop muted preload="auto" class="{{page.video}}{% if video_pause == "true" %} pauseable-video{% endif %}{% if play-once == "true" %} play-once{% endif %}{% if page.banner-align %} banner-{{page.banner-align}}{% endif %}" poster="{{poster}}">
    <source src="/assets/video/{{page.video}}.mp4" type="video/mp4"/>
    <source src="/assets/video/{{page.video}}.mkv" type="video/x-matroska"/>
  </video>
  {% capture video_mute %}{{page.video_mute}}{% endcapture %}
  {% if video_mute == 'true' %}
    <div class="video-controls">
      <span class="glyphicon glyphicon-volume-off unmute"></span>
      <span class="glyphicon glyphicon-volume-up mute" style="display:none"></span>
    </div>
  {% endif %}
{% elsif page.jpg And page.jpg !="" And page.jpg != nil %}
  <img class="{{page.jpg}}{% if page.banner-align %} banner-{{page.banner-align}}{% endif %}" src="{{ page.jpg | prepend: "/assets/images/" | prepend: site.baseurl }}.jpg" />
{% elsif page.png and page.png !="" %}
  <img class="{{page.png}}{% if page.banner-align %} banner-{{page.banner-align}}{% endif %}" src="{{ page.png | prepend: "/assets/images/" | prepend: site.baseurl }}.png" />
{% elsif page.panorama and page.panorama !="" %}
  <canvas class="panorama" style="background-image:{{ site.baseurl }}/assets/images/{{page.panorama-poster}}" panorama-images="{{page.panorama}}" user-control="{{page.panorama-user-control}}" longitude-speed="{{page.panorama-longitude-speed}}" base-url="{{ site.baseurl }}/assets/images/"></canvas>
{% endif %}

{% if page.splash-description %}
  <div class="splash-bottom container" style="display:none">
    <div class="info">
      {{page.splash-description}}
    </div>
  </div>
{% endif %}
