{% if include.post.video %}
<video autoplay loop preload="auto" class="{{include.post.video}}" poster="/assets/images/{{include.post.video}}.png">
  <source src="/assets/video/{{include.post.video}}.mp4" type="video/mp4"/>
  <source src="/assets/video/{{include.post.video}}.mkv" type="video/x-matroska"/>
</video>
{% endif %}
{% if include.post.jpg %}
<img class="{{include.post.jpg}}" src="{{ include.post.jpg | prepend: "/assets/images/" | prepend: site.baseurl }}.jpg">
{% endif %}
{% if include.post.png %}
<img class="{{include.post.png}}" src="{{ include.post.png | prepend: "/assets/images/" | prepend: site.baseurl }}.png">
{% endif %}

{% if include.post.panorama %}
<canvas class="panorama" style="background-image:{{ site.baseurl }}/assets/images/{{include.post.panorama-poster}}" panorama-images="{{include.post.panorama}}" user-control="{{include.post.panorama-user-control}}" longitude-speed="{{include.post.panorama-longitude-speed}}" base-url="{{ site.baseurl }}/assets/images/">
</canvas>
{% endif %}

</div>
{% if include.post.splash-description %}
<div class="splash-bottom" style="display:none"><div class="info">
  {{include.post.splash-description}}
</div>
{% endif %}
