{% if include.post.video %}
{% capture play-once %}{{include.post.play-once}}{% endcapture %}
{% capture video_pause %}{{include.post.video_pause}}{% endcapture %}
{% capture poster %}/assets/images/{{include.post.video}}.jpg{% endcapture %}
{% if include.post.poster %}
{% capture poster %}{{include.post.poster | prepend: "/assets/images/" | prepend: site.baseurl}}{% endcapture %}
{% endif %}
<video autoplay loop muted preload="auto" class="{{include.post.video}}{% if video_pause == "true" %} pauseable-video{% endif %}{% if play-once == "true" %} play-once{% endif %}{% if include.post.banner-align %} banner-{{include.post.banner-align}}{% endif %}" poster="{{poster}}">
  <source src="/assets/video/{{include.post.video}}.mp4" type="video/mp4"/>
  <source src="/assets/video/{{include.post.video}}.mkv" type="video/x-matroska"/>
</video>
{% capture video_mute %}{{include.post.video_mute}}{% endcapture %}
{% if video_mute == 'true' %}
<div class="video-controls">
  <span class="glyphicon glyphicon-volume-off unmute"></span>
  <span class="glyphicon glyphicon-volume-up mute" style="display:none"></span>
</div>
{% endif %}
{% endif %}
{% if include.post.jpg And include.post.jpg!="" %}
	<script>
      console.log("THERE SHOULD NOT BE AN IMAGE INCLUDED") ;
	</script>
{% endif %}


{% if include.post.jpg And include.post.jpg!="" %}
<img class="{{include.post.jpg}}{% if include.post.banner-align %} banner-{{include.post.banner-align}}{% endif %}" src="{{ include.post.jpg | prepend: "/assets/images/" | prepend: site.baseurl }}.jpg">
{% endif %}
{% if include.post.png And include.post.png!="" %}
<img class="{{include.post.png}}{% if include.post.banner-align %} banner-{{include.post.banner-align}}{% endif %}" src="{{ include.post.png | prepend: "/assets/images/" | prepend: site.baseurl }}.png">
{% endif %}

{% if include.post.panorama And include.post.panorama!=""  %}
<canvas class="panorama" style="background-image:{{ site.baseurl }}/assets/images/{{include.post.panorama-poster}}" panorama-images="{{include.post.panorama}}" user-control="{{include.post.panorama-user-control}}" longitude-speed="{{include.post.panorama-longitude-speed}}" base-url="{{ site.baseurl }}/assets/images/">
</canvas>
{% endif %}

</div>
{% if include.post.splash-description %}
<div class="splash-bottom container" style="display:none"><div class="info">
  {{include.post.splash-description}}
</div>
{% endif %}
