<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body class="page about">
    {% include nav.html %}
    {% for post in site.categories.about %}
    <div id="{{post.slug}}">
    <div class="half-splash">
      {% include media.html post=post %}
    </div>
    {% if post.title != "" %}
    <div class="container {{post.slug}}">
    <article>
      <h1>{{ post.title }}</h1>
      <div class="text">{{post.content}}</div>
    </article>
    </div>
    {% endif %}
    </div>
    {% endfor %}
  </body>
  {% include footer.html %}
</html>
