<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body class="home">

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Project name</a> -->
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% for item in site.data.menu %}
              <li><a href="{{ item.url | prepend: site.baseurl}}">{{item.text}}</a></li>
            {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="splash">
      <video autoplay loop preload="auto" poster="/assets/images/musa.jpg">
        <source src="/assets/video/musa-na.mp4" type="video/mp4"/>
        <source src="/assets/video/musa-na.mkv" type="video/x-matroska"/>
      </video>
      <h1><span class="splash-title">{{ page.title }}</span></h1>
    </div>
    <div class="about-container">
      <div class="container">
        <div id="about" class="about">
          <h1>About</h1>
          {{content}}
        </div>
      </div>
    </div>
    <div class="container projects-container">
      <div id="projects" class="projects">

        <h1 class="page-heading">Projects</h1>

        <div class="project-list row">
          {% for post in site.categories.projects %}
            <div class="col-sm-4">
              <div class="project-desc">
                <div>
                  <h2>
                    {{ post.title }}
                  </h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img src="assets/images/cw3.svg" /></a>
                  <div class="description">{{post.description}}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

      </div>

    </div><!-- /.container -->

  </body>
  {% include footer.html %}
</html>
